body {
    background-color: #121212;
    color: #121212;
    text-overflow: none;
}

.textbutton {
    background-color: red;
    color: #fff;
    border-radius: solid 2px;
    border: none;
    transform: translateY(-50%);
    top: 50%;
    transform: translateX(-50%);
    left: -50%;
}